{% extends 'base.html' %}

{% block content %}
    <!-- main content -->
    <main class="main-page post-page-scroll-active fullpage-slider post-page-main-section-back">
        <img width="100%" style="max-height: 60vh !important; object-fit: cover;" src="{{ MEDIA_URL }}{{ item.image1 }}" alt="">
        <div class="fullpage-slider__wrapper">
            <section class="js-slider-item type-block__style-secondary type-block architecture-type lazyload post-page-main-section-full-back post-page-section-no-pb post-page-section-small-pt">
                <div class="container">
                    <div class="post-page-type-block__content type-block__content type-block__content" data-swiper-animation="type_block">
                        <div class="type-block__content__left-side">
                            <h2 class="post-page-type-block__title type-block__title section-title" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">{{ item.title }}</h2>
                            <div class="type-block__descr section-descr" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">
                                <p>{{ item.description }}</p>
                            </div>
                        </div>
                        <div class="post-pagetype-block__content__right-side type-block__content__right-side"></div>
                    </div>
                </div>
            </section>
            <section class="js-slider-item type-block__style-secondary type-block living-type post-page-main-section-full-back">
                <div class="container">
                    <div class="post-page__type-block__content type-block__content" data-swiper-animation="type_block">
                        <div class="type-block__content__left-side post-page__right-small-container"></div>
                        <div class="post-pagetype-block__content__right-side type-block__content__right-side post-page__mob-mb">
                            <div class="type-project" data-swiper-animation="type_project_1">
                                <div class="descr-block post-content-item">
                                    <div class="post-page-descr-content">
                                        <p>
                                            {{ item.text1 }}
                                        </p>
                                    </div>
                                </div>
                                <div class="post-image-block image-block post-content-item">
                                    <img src="{{ MEDIA_URL }}{{ item.image2 }}" alt="post-page-image" class="item-image">
                                </div>
                                <div class="descr-block post-content-item">
                                    <div class="post-page-descr-content">
                                        <p class="post-paragraph">
                                            {{ item.text2 }}
                                        </p>
                                    </div>
                                </div>
                                <div class="post-image-block image-block post-content-item">
                                    <img src="{{ MEDIA_URL }}{{ item.image3 }}" alt="post-page-image" class="item-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="js-slider-item post-page__type-section type-block__style-secondary type-block living-type post-page-main-section-full-back">
                <div class="container">
                    <div class="post-page-continious">
                        <h2 id="title-next" class="post-page-type-block__title type-block__title section-title" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">Читайте также</h2>
                        <a class="btn-style desktop" href="{% url 'blog' %}">
                            Смотреть все
                        </a>
                    </div>
                    <div class="post-page-container-type-block__content type-block__content" data-swiper-animation="type_block">
                        <div style="margin-bottom: 30px" class="type-block__content__right-side">
                            <div class="type-project" data-swiper-animation="type_project_1">
                                <a href="blog_single.html" class="item-link"></a>
                                <div class="type-project blog__small-news-container" data-swiper-animation="type_project_1">
                                    <a href="#" class="item-link"></a>
                                    <div class="image-block blog__small-img-container">
                                        <img src="{{ STATIC_URL }}images/common/post-page/post-page-4.jpg" alt="blog-image" class="post-page-next-img-big item-image">
                                    </div>
                                    <h2 class="post-page-title-next-first post-page-type-block__title type-block__title section-title" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">Обсуждение проекта</h2>
                                    <div class="type-block__descr section-descr" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">
                                        <p>Познакомимся с вами и вашим проектом, углубимся в задачу и обсудим, как ее реализовать. Также выделим менеджера</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-page__left-no-padding">
                            <a href="blog_single.html" class="item-link"></a>
                            <div class="type-project blog__small-news-container" data-swiper-animation="type_project_1">
                                <a href="#" class="item-link"></a>
                                <div class="image-block blog__small-img-container ">
                                    <img src="{{ STATIC_URL }}images/common/post-page/post-page-4.jpg" alt="blog-image" class="post-page-next-img-small blog__image item-image">
                                </div>
                                <div class="descr-block">
                                    <h3 class="project-name post-page__small-title">Обсуждение проекта</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mob-block mb-last">
                        <a class="btn-style" href="blog.html">
                            Смотреть все
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="fullpage-slider__scroll"></div>
    </main>
    <!-- main end content -->
{% endblock %}
