{% extends 'base.html' %}

{% block content %}
    <main class="main-page">
        <div class="container">
            <section class="type-block contacts-page-type error-page-type lazyload">
                <div style="width: 100%;">
                    <div class="type-block__content error__type-block-content-container" data-swiper-animation="type_block">
                        <div class="error__type-block__content__left-side type-block__content__left-side desktop">
                            <h2 class="type-block__title section-title error-404-title" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">Такой страницы нет</h2>
                            <div class="type-block__descr section-descr contacts-descr error-descr" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">
                                <p>
                                    Возможно, она была перемещена, или вы просто неверно указали адрес страницы
                                </p>
                            </div>
                            <div class="type-block__btn-row contacts__link-more" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">
                                <a href="{% url 'index' %}" class="more-link btn-style button contacts-btn-style">
                                    <div class="button__filler"></div>
                                    <span class="button__text">
                                    <span class="button__text-inner">Вернуться на главную</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="error__type-block error__type-block__content__right-side type-block__content__right-side">
                            <div class="error__type-block-content">
                                <div class="error__type-project">
                                    <div class="image-block">
                                        <img width="100%" src="{{ STATIC_URL }}images/common/error/404.png" alt="human-image" class="item-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="error__type-block__content__left-side type-block__content__left-side mob-block">
                            <h2 class="type-block__title section-title error-404-title" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">Такой страницы нет</h2>
                            <div class="type-block__descr section-descr contacts-descr error-descr" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">
                                <p>
                                    Возможно, она была перемещена, или вы просто неверно указали адрес страницы
                                </p>
                            </div>
                            <div class="type-block__btn-row contacts__link-more" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">
                                <a href="{% url 'index' %}" class="more-link btn-style button contacts-btn-style">
                                    <div class="button__filler"></div>
                                    <span class="button__text">
                                    <span class="button__text-inner">Вернуться на главную</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="fullpage-slider__scroll"></div>
    </main>
{% endblock %}