{% extends 'base.html' %}

{% block content %}
    <!-- main content -->
    <main class="main-page scroll-active-page main-page-no-pt fullpage-slider">
        <div class="fullpage-slider__wrapper jobs__wrapper">
            <section class="js-slider-item type-block architecture-type lazyload job__main-section">
                <div class="container">
                    <div class="job-type-block__content type-block__content" data-swiper-animation="type_block">
                        <div class="type-block__content__left-side">
                        </div>
                        <div class="type-block__content__right-side job__main-right-container">
                            <div class="job__main-right-content">
                                <h2 class="type-block__title section-title" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">Вакансии</h2>
                                <div class="type-block__descr section-descr" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">
                                    <p>Ищем талантливых специалистов в нашу команду. Откликайтесь, если вы из таких!</p>
                                </div>
                                <div class="mob-block">
                                    <img style="padding-top: 30px;" width="100%" src="{{ STATIC_URL }}images/common/job/job-back.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="js-slider-item job__type-section type-block architecture-type lazyload job__vacancy-accordion">
                <div class="container">
                    <div class="type-block__content" data-swiper-animation="type_block">
                        <div class="type-project job__accordion-container">
                            <div id="accordion" class="job__accordion">
                                <div class="job__accordion-item-container">
                                    <h3 id="accordion-question-1" class="job-accordion-title">
                                        <div class="job__accordion-title-container">
                                            Старший архитектор
                                        </div>
                                    </h3>
                                    <div class="job__type-block__content type-block__content job__accordion-item" data-swiper-animation="type_block">
                                        <div class="type-block__content__left-side">
                                            <p class="job__accordion-small-text">
                                                Тип занятости
                                            </p>
                                            <p class="job__accordion-descr">
                                                Полная
                                            </p>
                                            <p class="job__accordion-small-text">
                                                Город
                                            </p>
                                            <p class="job__accordion-descr">
                                                Санкт-Петербург
                                            </p>
                                        </div>
                                        <div class="type-block__content__right-side">
                                            <p class="job__accordion-descr job__descr-top">
                                                Биллинг помогает сервисам Яндекса автоматизировать взаиморасчёты с партнёрами, облегчает учёт монетизации и ведёт учёт контрагентов. Мы ищем стажёра в нашу команду. Совместно с куратором вы будете запускать новые сервисы и оптимизировать существующие процессы.
                                            </p>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Обязанности
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Требования
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Условия
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <div class="type-block__btn-row">
                                                <a href="#" class="more-link btn-style button">
                                                    <div class="button__filler"></div>
                                                    <span class="button__text">
                                                    <span class="button__text-inner">Откликнуться</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="job__accordion-item-container">
                                    <h3 id="accordion-question-2" class="job-accordion-title">
                                        <div class="job__accordion-title-container">
                                            Старший архитектор
                                        </div>
                                    </h3>
                                    <div class="job__type-block__content type-block__content job__accordion-item" data-swiper-animation="type_block">
                                        <div class="type-block__content__left-side">
                                            <p class="job__accordion-small-text">
                                                Тип занятости
                                            </p>
                                            <p class="job__accordion-descr">
                                                Полная
                                            </p>
                                            <p class="job__accordion-small-text">
                                                Город
                                            </p>
                                            <p class="job__accordion-descr">
                                                Санкт-Петербург
                                            </p>
                                        </div>
                                        <div class="type-block__content__right-side">
                                            <p class="job__accordion-descr job__descr-top">
                                                Биллинг помогает сервисам Яндекса автоматизировать взаиморасчёты с партнёрами, облегчает учёт монетизации и ведёт учёт контрагентов. Мы ищем стажёра в нашу команду. Совместно с куратором вы будете запускать новые сервисы и оптимизировать существующие процессы.
                                            </p>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Обязанности
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Требования
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Условия
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <div class="type-block__btn-row">
                                                <a href="#" class="more-link btn-style button">
                                                    <div class="button__filler"></div>
                                                    <span class="button__text">
                                                    <span class="button__text-inner">Откликнуться</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="job__accordion-item-container">
                                    <h3 id="accordion-question-3" class="job-accordion-title">
                                        <div class="job__accordion-title-container">
                                            Старший архитектор
                                        </div>
                                    </h3>
                                    <div class="job__type-block__content type-block__content job__accordion-item" data-swiper-animation="type_block">
                                        <div class="type-block__content__left-side">
                                            <p class="job__accordion-small-text">
                                                Тип занятости
                                            </p>
                                            <p class="job__accordion-descr">
                                                Полная
                                            </p>
                                            <p class="job__accordion-small-text">
                                                Город
                                            </p>
                                            <p class="job__accordion-descr">
                                                Санкт-Петербург
                                            </p>
                                        </div>
                                        <div class="type-block__content__right-side">
                                            <p class="job__accordion-descr job__descr-top">
                                                Биллинг помогает сервисам Яндекса автоматизировать взаиморасчёты с партнёрами, облегчает учёт монетизации и ведёт учёт контрагентов. Мы ищем стажёра в нашу команду. Совместно с куратором вы будете запускать новые сервисы и оптимизировать существующие процессы.
                                            </p>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Обязанности
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Требования
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Условия
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <div class="type-block__btn-row">
                                                <a href="#" class="more-link btn-style button">
                                                    <div class="button__filler"></div>
                                                    <span class="button__text">
                                                    <span class="button__text-inner">Откликнуться</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="job__accordion-item-container">
                                    <h3 id="accordion-question-4" class="job-accordion-title">
                                        <div class="job__accordion-title-container">
                                            Старший архитектор
                                        </div>
                                    </h3>
                                    <div class="job__type-block__content type-block__content job__accordion-item" data-swiper-animation="type_block">
                                        <div class="type-block__content__left-side">
                                            <p class="job__accordion-small-text">
                                                Тип занятости
                                            </p>
                                            <p class="job__accordion-descr">
                                                Полная
                                            </p>
                                            <p class="job__accordion-small-text">
                                                Город
                                            </p>
                                            <p class="job__accordion-descr">
                                                Санкт-Петербург
                                            </p>
                                        </div>
                                        <div class="type-block__content__right-side">
                                            <p class="job__accordion-descr job__descr-top">
                                                Биллинг помогает сервисам Яндекса автоматизировать взаиморасчёты с партнёрами, облегчает учёт монетизации и ведёт учёт контрагентов. Мы ищем стажёра в нашу команду. Совместно с куратором вы будете запускать новые сервисы и оптимизировать существующие процессы.
                                            </p>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Обязанности
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Требования
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <ul class="job__accordion-list">
                                                <h4 class="job__accordion-list-title">
                                                    Условия
                                                </h4>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Обеспечение выкладки товара в магазинах согласно стандартам компании (уходовая и декоративная косметика, бытовая химия, детские подгузники)
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание корректности ценников
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Отслеживание остатков товара
                                                </li>
                                                <li class="job__accordion-item-content job__accordion-descr">
                                                    Вся отчетность через приложение на смартфоне
                                                </li>
                                            </ul>
                                            <div class="type-block__btn-row">
                                                <a href="#" class="more-link btn-style button">
                                                    <div class="button__filler"></div>
                                                    <span class="button__text">
                                                    <span class="button__text-inner">Откликнуться</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="js-slider-item job__type-section news-block">
                <div class="container">
                    <div class="news-block__content">
                        <div class="news-block__content__left-side" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1500">
                            <h2 class="news-block__title section-title">Новости</h2>
                            <a href="news.html" class="see-all btn-style button">
                                <div class="button__filler"></div>
                                <span class="button__text">
                            <span class="button__text-inner">Смотреть все</span>
                                </span>
                            </a>
                        </div>
                        <div class="news-block__content__right-side">
                            <div class="news-item big-item" data-swiper-animation="news_block_1">
                                <a href="#" class="item-link"></a>
                                <div class="image-block">
                                    <img src="{{ STATIC_URL }}images/common/news/news_image1.jpg" alt="news-image" class="news-image">
                                </div>
                                <div class="descr-block">
                                    <h3 class="news-title section-title">Обсуждение проекта</h3>
                                    <div class="news-descr section-descr">
                                        <p>Познакомимся с вами и вашим проектом, углубимся в задачу и обсудим, как ее реализовать. Также выделим менеджера</p>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item" data-swiper-animation="news_block_2">
                                <a href="#" class="item-link"></a>
                                <div class="image-block">
                                    <img src="{{ STATIC_URL }}images/common/news/news_image2.jpg" alt="news-image" class="news-image">
                                </div>
                                <div class="descr-block">
                                    <h3 class="news-title section-title">Обсуждение проекта</h3>
                                </div>
                            </div>
                            <div class="news-item" data-swiper-animation="news_block_3">
                                <a href="#" class="item-link"></a>
                                <div class="image-block">
                                    <img src="{{ STATIC_URL }}images/common/news/news_image3.jpg" alt="news-image" class="news-image">
                                </div>
                                <div class="descr-block">
                                    <h3 class="news-title section-title">Обсуждение проекта</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="js-slider-item backcall-block">
                <div class="container">
                    <a href="javascript:void(0);" data-micromodal-trigger="modal_backcall" class="backcall-btn btn-style gray-style button">
                        <div class="button__filler"></div>
                        <span class="button__text">
                        <span class="button__text-inner"><i class="icon icon-arrow"></i></span>
                        </span>
                    </a>
                </div>
                <div class="jobs__backcall-bg backcall-bg"></div>
            </div>
        </div>
        <div class="fullpage-slider__scroll"></div>
    </main>
    <!-- main end content -->
    <div class="modal backcall-modal" id="modal_backcall" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true">
                <div class="modal__container__left-side"></div>
                <div class="modal__container__right-side">
                    <header class="modal__header">
                        <h2 class="modal__title">Есть вопрос?</h2>
                        <h3 class="modal__subtitle">Мы готовы связаться с вами и проконсультировать</h3>
                        <button class="modal__close" aria-label="Закрыть" data-micromodal-close><i class="icon icon-close"></i></button>
                    </header>
                    <main class="modal__content">
                        <form action="" class="backcall-form">
                            <div class="input-group">
                                <input type="text" class="input-style" name="name" placeholder="Имя*" required>
                            </div>
                            <div class="input-group">
                                <input type="text" class="input-style" name="phone" placeholder="Телефон*" required>
                            </div>
                            <div class="input-group error-group">
                                <p>Пожалуйста, заполните все формы</p>
                            </div>
                            <div class="input-group btn-group">
                                <button type="submit" class="button btn-style gray-style">
                                    <div class="button__filler"></div>
                                    <span class="button__text">
                                <span class="button__text-inner">Отправить</span>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <div class="modal ok-modal backcall-ok" id="backcall-ok" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true">
                <div class="modal__container__left-side"></div>
                <div class="modal__container__right-side">
                    <header class="modal__header">
                        <h2 class="modal__title">Отлично</h2>
                        <h3 class="modal__subtitle">Сейчас ознакомимся с нужной информацией и свяжемся с вами</h3>
                    </header>
                    <main class="modal__content">
                        <button class="button btn-style" aria-label="Закрыть" data-micromodal-close>
                            <div class="button__filler"></div>
                            <span class="button__text">
                            <span class="button__text-inner">Закрыть</span>
                            </span>
                        </button>
                    </main>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
