{% extends 'base.html' %}

{% block content %}
    <!-- main content -->
    <main class="main-page scroll-active-page main-page-no-pt fullpage-slider">
        <div class="fullpage-slider__wrapper jobs__wrapper">
            <section class="js-slider-item type-block architecture-type lazyload job__main-section">
                <div class="container">
                    <div class="job-type-block__content type-block__content" data-swiper-animation="type_block">
                        <div class="type-block__content__left-side">
                        </div>
                        <div class="type-block__content__right-side job__main-right-container">
                            <div class="job__main-right-content">
                                <h2 class="type-block__title section-title" data-swiper-parallax="-150%"
                                    data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">Вакансии</h2>
                                <div class="type-block__descr section-descr" data-swiper-parallax="-150%"
                                     data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">
                                    <p>Ищем талантливых специалистов в нашу команду. Откликайтесь, если вы из таких!</p>
                                </div>
                                <div class="mob-block">
                                    <img style="padding-top: 30px;" width="100%"
                                         src="{{ STATIC_URL }}images/common/job/job-back.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% if ready %}
                <section
                        class="js-slider-item job__type-section type-block architecture-type lazyload job__vacancy-accordion">
                    <div class="container">
                        <div class="type-block__content" data-swiper-animation="type_block">
                            <div class="type-project job__accordion-container">
                                <div id="accordion" class="job__accordion">
                                    {% for item in vacancies %}
                                        <div class="job__accordion-item-container">
                                            <h3 id="accordion-question-1" class="job-accordion-title">
                                                <div class="job__accordion-title-container">
                                                    {{ item.title }}
                                                </div>
                                            </h3>
                                            <div class="job__type-block__content type-block__content job__accordion-item"
                                                 data-swiper-animation="type_block">
                                                <div class="type-block__content__left-side">
                                                    <p class="job__accordion-small-text">
                                                        Тип занятости
                                                    </p>
                                                    <p class="job__accordion-descr">
                                                        {{ item.type_employment }}
                                                    </p>
                                                    <p class="job__accordion-small-text">
                                                        Город
                                                    </p>
                                                    <p class="job__accordion-descr">
                                                        {{ item.city }}
                                                    </p>
                                                </div>
                                                <div class="type-block__content__right-side">
                                                    <p class="job__accordion-descr job__descr-top">
                                                        {{ item.description }}
                                                    </p>
                                                    <ul class="job__accordion-list">
                                                        <h4 class="job__accordion-list-title">
                                                            Обязанности
                                                        </h4>
                                                        {% for point in item.responsibilities.all %}
                                                            <li class="job__accordion-item-content job__accordion-descr">
                                                                {{ point.title }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <ul class="job__accordion-list">
                                                        <h4 class="job__accordion-list-title">
                                                            Требования
                                                        </h4>
                                                        {% for point in item.requirements.all %}
                                                            <li class="job__accordion-item-content job__accordion-descr">
                                                                {{ point.title }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <ul class="job__accordion-list">
                                                        <h4 class="job__accordion-list-title">
                                                            Условия
                                                        </h4>
                                                        {% for point in item.circumstances.all %}
                                                            <li class="job__accordion-item-content job__accordion-descr">
                                                                {{ point.title }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <div class="type-block__btn-row">
                                                        <a href="javascript:void(0);"
                                                           data-micromodal-trigger="modal_answear"
                                                           class="more-link btn-style button job-btn-hover">
                                                            <div class="button__filler"></div>
                                                            <span class="button__text">
                                                    <span class="button__text-inner">Откликнуться</span>
                                                    </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% else %}
                <section
                        class="js-slider-item blog__type-section type-block architecture-type lazyload blog-mob__no-p blog-first-section no-jobs-section">
                    <div class="container">
                        <div class="type-block__content" data-swiper-animation="type_block">
                            <div class="type-block__content__left-side">
                                <h2 class="type-block__title section-title title-no-jobs" data-swiper-parallax="-150%"
                                    data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">Открытых
                                    вакансий пока нет</h2>
                                <div class="type-block__descr section-descr" data-swiper-parallax="-150%"
                                     data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">
                                    <p>Но вы можете также отправить свое резюме. При появлении подходящей позиции мы к
                                        вам обязательно обратимся</p>
                                </div>
                                <div class="type-block__btn-row">
                                    <a href="javascript:void(0);" data-micromodal-trigger="modal_answear"
                                       class="more-link btn-style button type-block__btn-row contacts__link-more job-btn-hover">
                                        <div class="button__filler"></div>
                                        <span class="button__text">
                                    <span class="button__text-inner">Отправить</span>
                                    </span>
                                    </a>
                                </div>
                            </div>
                            <div class="type-block__content__right-side">
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}

            <section class="js-slider-item job__type-section news-block">
                <div class="container">
                    <div class="news-block__content wow-js" animation="news_block">
                        <div class="news-block__content__left-side">
                            <h2 class="news-block__title section-title">Блог</h2>
                            <a href="{% url 'blog' %}" class="see-all btn-style button">
                                <div class="button__filler"></div>
                                <span class="button__text">
                        <span class="button__text-inner">Смотреть все</span>
                        </span>
                            </a>
                        </div>
                        <div class="news-block__content__right-side">
                            <div class="news-item big-item">
                                <a href="{{ main_blog.get_absolute_url }}" class="item-link"></a>
                                <div class="image-block">
                                    <img src="{{ MEDIA_URL }}{{ main_blog.image1 }}" alt="news-image"
                                         class="news-image lazyload">
                                </div>
                                <div class="descr-block">
                                    <h3 class="news-title section-title">{{ main_blog.title }}</h3>
                                    <div class="news-descr section-descr">
                                        <p>{{ main_blog.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% for item in other_blog %}
                                <div class="news-item">
                                    <a href="{{ item.get_absolute_url }}" class="item-link"></a>
                                    <div class="image-block">
                                        <img src="{{ MEDIA_URL }}{{ item.image1 }}" alt="news-image"
                                             class="news-image lazyload">
                                    </div>
                                    <div class="descr-block">
                                        <h3 class="news-title section-title">{{ item.title }}</h3>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </section>

            <div class="js-slider-item backcall-block">
                <div class="container">
                    <a href="javascript:void(1);" data-micromodal-trigger="modal_backcall"
                       class="backcall-btn btn-style gray-style button">
                        <div class="button__filler"></div>
                        <span class="button__text">
                        <span class="button__text-inner"><i class="icon icon-arrow"></i></span>
                        </span>
                    </a>
                </div>
                <div class="jobs__backcall-bg backcall-bg"></div>
            </div>
        </div>
        <div class="fullpage-slider__scroll"></div>
    </main>
    <!-- main end content -->
    <div class="modal backcall-modal" id="modal_answear" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true">
                <div style="background-image: url({{ STATIC_URL }}images/common/modals/job_bg.jpg);"
                     class="modal__container__left-side"></div>
                <div class="modal__container__right-side">
                    <header class="modal__header">
                        <h2 class="modal__title">Расскажите о себе</h2>
                        <h3 class="modal__subtitle">Ниже вы можете оставить свои контакты и ссылку на портфолио</h3>
                        <button class="modal__close" aria-label="Закрыть" data-micromodal-close><i
                                class="icon icon-close"></i></button>
                    </header>
                    <main class="modal__content">
                        <form id="backcall_form" action="" data-modal="modal_answear" data-success="answear_ok"
                              class="backcall-form">
                            <div class="input-group">
                                <input type="text" class="input-style" name="name" placeholder="Имя*">
                            </div>
                            <div class="input-group">
                                <input type="text" class="input-style" name="phone" placeholder="Телефон*">
                            </div>
                            <div class="input-group">
                                <input type="email" class="input-style" name="email" placeholder="Почта*">
                            </div>
                            <div class="input-group">
                                <input type="url" class="input-style" name="url" placeholder="Ссылка на CV*">
                            </div>
                            <div class="input-group error-group" style="display: none;">
                                <p>Пожалуйста, заполните все формы</p>
                            </div>
                            <div class="input-group btn-group">
                                <button type="submit" class="btn-style gray-style">Отправить</button>
                            </div>
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <div class="modal ok-modal backcall-ok" id="answear_ok" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true">
                <div style="background-image: url({{ STATIC_URL }}images/common/modals/job_bg.jpg);"
                     class="modal__container__left-side"></div>
                <div class="modal__container__right-side">
                    <header class="modal__header">
                        <h2 class="modal__title">Отлично</h2>
                        <h3 class="modal__subtitle">Сейчас ознакомимся с вашими данными и свяжемся с вами</h3>
                    </header>
                    <main class="modal__content">
                        <button class="btn-style gray-style" aria-label="Закрыть" data-micromodal-close>Закрыть</button>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <div class="modal backcall-modal" id="modal_backcall" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true">
                <div class="modal__container__left-side"></div>
                <div class="modal__container__right-side">
                    <header class="modal__header">
                        <h2 class="modal__title">Есть вопрос?</h2>
                        <h3 class="modal__subtitle">Мы готовы связаться с вами и проконсультировать</h3>
                        <button class="modal__close" aria-label="Закрыть" data-micromodal-close><i
                                class="icon icon-close"></i></button>
                    </header>
                    <main class="modal__content">
                        <form id="backcall_form" action="" data-modal="modal_backcall" data-success="backcall_ok"
                              class="backcall-form">
                            <div class="input-group">
                                <input type="text" class="input-style" name="name" placeholder="Имя*">
                            </div>
                            <div class="input-group">
                                <input type="text" class="input-style" name="phone" placeholder="Телефон*">
                            </div>
                            <div class="input-group error-group" style="display: none;">
                                <p>Пожалуйста, заполните все формы</p>
                            </div>
                            <div class="input-group btn-group">
                                <button type="submit" class="btn-style gray-style">Отправить</button>
                            </div>
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <div class="modal ok-modal backcall-ok" id="backcall_ok" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true">
                <div class="modal__container__left-side"></div>
                <div class="modal__container__right-side">
                    <header class="modal__header">
                        <h2 class="modal__title">Отлично</h2>
                        <h3 class="modal__subtitle">Сейчас ознакомимся с нужной информацией и свяжемся с вами</h3>
                    </header>
                    <main class="modal__content">
                        <button class="btn-style gray-style" aria-label="Закрыть" data-micromodal-close>Закрыть</button>
                    </main>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
