{% extends 'base.html' %}

{% block content %}
    <main class="main-page">
    <div class="container">
        <section class="type-block contacts-page-type delivery-page-type lazyload">
            <div style="width: 100%;">
                <div class="type-block__content delivery__type-block-content-container" data-swiper-animation="type_block">
                    <div class="delivery__type-block__content__left-side type-block__content__left-side">
                        <h2 class="type-block__title section-title" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">Поставщикам</h2>
                        <div class="type-block__descr section-descr contacts-descr delivery-descr" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">
                            <p>
                                Если вы занимаетесь поставками материалов и ищете новых партнеров — свяжитесь с нами, мы рады полезному сотрудничеству. Вы можете позвонить нам или отправить сообщение по электронной почте, вам помогут Алена или Алексей
                            </p>
                        </div>
                        <div class="type-block__btn-row contacts__link-more" data-swiper-parallax="-150%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200">
                            <a href="javascript:void(0);" data-micromodal-trigger="modal_application" class="more-link btn-style button contacts-btn-style">
                                <div class="button__filler"></div>
                                <span class="button__text">
                                <span class="button__text-inner">Оставить заявку</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="delivery__type-block delivery__type-block__content__right-side type-block__content__right-side">
                        <div class="delivery__type-block-content">
                            <div class="delivery__type-project">
                                <div class="image-block">
                                    <img src="{{ STATIC_URL }}images/common/delivery/delivery-1.jpg" alt="human-image" class="item-image">
                                </div>
                                <div class="descr-block">
                                    <p class="delivery-name">
                                        Сизова Алена
                                    </p>
                                    <p class="delivery-position">
                                        Менеджер по комплектации
                                    </p>
                                </div>
                            </div>
                            <div class="delivery__type-project">
                                <div class="image-block">
                                    <img src="{{ STATIC_URL }}images/common/delivery/delivery-2.jpg" alt="human-image" class="item-image">
                                </div>
                                <div class="descr-block">
                                    <p class="delivery-name">
                                        Березкин Алексей
                                    </p>
                                    <p class="delivery-position">
                                        Менеджер по комплектации
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="contacts__link-container delivery__link-container flex">
                            <a class="contacts__link mail-link" href="mailto:info@partners-bureau.com">
                                info@partners-bureau.com
                            </a>
                            <a class="contacts__link phone-link" href="tel:+78126710371">
                                +7 812 671 0371
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="fullpage-slider__scroll"></div>
    </main>


    <div class="modal backcall-modal" id="modal_application" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true">
                <div style="background-image: url('{{ STATIC_URL }}images/common/modals/delivery_dg.jpg');" class="modal__container__left-side"></div>
                <div class="modal__container__right-side">
                    <header class="modal__header">
                    <h2 class="modal__title">Оставьте заявку</h2>
                    <h3 class="modal__subtitle">Укажите контактные данные и прикрепите ссылку на свое КП</h3>
                    <button class="modal__close" aria-label="Закрыть" data-micromodal-close><i class="icon icon-close"></i></button>
                </header>
                    <main class="modal__content">
                    <form id="backcall_form" action="" data-modal="modal_application" data-success="application_ok" class="backcall-form" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="input-style" name="name" placeholder="Имя*">
                        </div>
                        <div class="input-group">
                            <input type="text" class="input-style" name="phone" placeholder="Телефон*">
                        </div>
                        <div class="input-group">
                            <input type="email" class="input-style" name="email" placeholder="Почта*">
                        </div>
                        <div class="input-group">
                            <input type="url" class="input-style" name="url" placeholder="Ссылка на КП*">
                        </div>
                        <div class="input-group error-group" style="display: none;">
                            <p>Пожалуйста, заполните все формы</p>
                        </div>
                        <div class="input-group btn-group">
                            <button type="submit" class="btn-style gray-style">Отправить</button>
                        </div>
                    </form>
                </main>
                </div>
            </div>
        </div>
    </div>
    <div class="modal ok-modal backcall-ok" id="application_ok" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true">
                <div style="background-image: url('{{ STATIC_URL }}images/common/modals/delivery_dg.jpg');" class="modal__container__left-side"></div>
                <div class="modal__container__right-side">
                    <header class="modal__header">
                        <h2 class="modal__title">Отлично</h2>
                        <h3 class="modal__subtitle">Сейчас ознакомимся с вашими данными</h3>
                    </header>
                    <main class="modal__content">
                        <button class="btn-style gray-style" aria-label="Закрыть" data-micromodal-close>Закрыть</button>
                    </main>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
